[flake8]
max-line-length = 100
ignore = 
    E203,  # whitespace before ':'
    W503,  # line break before binary operator
    F401,  # module imported but unused
    E501,  # line too long
    F841,  # local variable is assigned to but never used
exclude = 
    .git,
    __pycache__,
    venv,
    .venv,
    env,
    .env,
    .github,
    node_modules,
    백업 화면/